body {
    font-family: sans-serif;
    line-height: 1.5;

    background-color: #a8985a;
    color: #e70e0e;

    width: 980px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
}

main > h2 {
    text-align: center;
    font-size: 25px;
}